// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  padding: 10px 0;
}

.details {
  background-color: lightgrey;
  padding: 20px 10px;
  border-radius: 10px;
}
